body {
    background-color: #FFFFFF;
    /*background-color: #36454F;*/
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

main {
    padding: 0px;
}

section {
    padding: 40px;
    margin-bottom: 40px;
}

header {
    background-color: #333333;
    color: #FFFFFF;
    padding: 32px;
}

section {
    padding: 40px;
}

header h1 {
    margin: 0;
    size: 32px;
}

h2 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

nav ul li a:link, nav ul li a:visited {
    background-color: #EC5800;
    border: 2px solid #EC5800;
    color: #000000;
    padding: 3px 7px;
    text-align: center;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #FFA500;
    border-color: #FFA500;
}

/*
nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

a:link, a:visited {
    background-color: #FFFFFF;
    border: 2px #00008B;
    text-decoration: none;
    color: #000000;
    padding: 3px 7px;
    text-align: center;
    display: inline-black;
}
*/
#about {
    background-color: #191970;
}

#posts {
    background-color: #EC5800;
}

.webposts a {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
    transition: border-bottom 0.3s ease;
}

.webposts a:hover {
    border-bottom: 2px solid #FFFFFF;
}

.post-separator {
    margin: 10px;
    border: 1px solid #CCC;
}

#contact {
     background-color: #191970;
}

.main {
    flex: 1;
    padding: 20px;
    background-color: #FFFFFF;
    align: center;
}

/* Parallax Background (Top) */
.parallax-top {
    background-image: url('img/top.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 75vh;
}

.parallax-top h2 {
    color: #FFFFFF;
    size: xx-large;
}

.parallax-top p {
    color: #FFFFFF;
    size: larger;
}

/* Parallax Background (Bottom)  */
.parallax-bot {
    background-image: url('img/bot.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 75vh;
}

.parallax-bot h2 {
    color: #FFFFFF;
    size: xx-large;
}

.parallax-bot p {
    color: #FFFFFF;
    size: larger;
}

footer {
    background-color: #333;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}
